.profile__edit-button {
  background-image: url(../../../images/logo/profile__edit-button.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  align-self: center;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (max-width: 1279px) {
  .profile__edit-button {
    width: calc(18px + ((100vw - 320px) * (24 - 18) / (1279 - 320)));
    height: calc(18px + ((100vw - 320px) * (24 - 18) / (1279 - 320)));
    background-size: calc(7.5px + ((100vw - 320px) * (10 - 7.5) / (1279 -320)))
                     calc(7.5px + ((100vw - 320px) * (10 - 7.5) / (1279 -320)));
  }
}